backoff==1.10.0
click==7.1.2
Flask==1.1.2
googleapis-common-protos==1.52.0
grpcio==1.30.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
opentelemetry-api==0.11b0
opentelemetry-ext-flask==0.11b0
opentelemetry-ext-otlp==0.11b0
opentelemetry-ext-wsgi==0.11b0
opentelemetry-instrumentation==0.11b0
opentelemetry-proto==0.11b0
opentelemetry-sdk==0.11b0
protobuf==3.12.2
six==1.15.0
Werkzeug==1.0.1
wrapt==1.12.1
